{% extends "base-template.html" %}

{% block title %}
    <h1>All Logs</h1>
{% endblock %}

{% block content %}
    <table>
        <tr>
            <th>
                Date & Time
            </th>
            <th>
                Username
            </th>
            <th>
                Door
            </th>
            <th>
                Access Granted
            </th>
        </tr>
    {% for log in all_logs %}
        <tr>
            <td>
                {{ log['scanned_time'] }}
            </td>
            <td>
                {{ log['username'] }}
            </td>
            <td>
                {{ log['door'] }}
            </td>
            <td class="access_granted">
                {{ log['access_granted'] }}
            </td>
        </tr>
    {% endfor %}
    </table>
{% endblock %}