{% extends "base-template.html" %}

{% block title %}
    <h1>All Users</h1>
{% endblock %}

{% block content %}
<table>
    <tr>
        <th>
            Created
        </th>
        <th>
            Username
        </th>
        <th>
            ID
        </th>
    </tr>
{% for user in all_users %}
    <tr>
        <td>
            {{ user['created'] }}
        </td>
        <td>
            {{ user['username'] }}
        </td>
        <td>
            {{ user['id'] }}
        </td>
    </tr>
{% endfor %}
</table>
{% endblock %}