{% extends "base-template.html" %}

{% block title %}
    <h1>Create User</h1>
{% endblock %}

{% block content %}
    <form>
        <input type="text" name="name" placeholder="Enter Username" /> <br>
        <input type="password" name="password" placeholder="Enter Password">
        <input type="password" name="check-password" placeholder="Enter Password Again">
        </br>
        <label for="access-level">Access Level</label>
        <select name="access-level" id="access-level">
            <option value="green">Green</option>
            <option value="yellow">Yellow</option>
            <option value="red">Red</option>
            <option value="black">Black</option>
        </select>
        <input type="submit" value="Submit" />
    </form>
{% endblock %}